main {
  /* background-color: rgb(206, 222, 241); */
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow:hidden;
  height:100%;
}

header {
  background-color: rgb(6, 9, 196);
  width: 100%;
  position: relative;
  margin: 0 auto;
}

h1 {
  width: 100%;
  position: relative;
  margin: 0 auto;
  color: #fff;
  font-size: 1.8em;
  line-height: 2.4em;
}

.mode-edit,
.mode-maker,
.mode-blockly {
  display: none;
}

[mode="maker"] .mode-maker,
[mode="edit"] .mode-edit,
[mode="blockly"] .mode-blockly {
  display: block;
}

.blockly-editor {
  position: absolute;
  margin: 0 auto;
  top: 80px;
  left: -100%;
  transition: left .4s;
  height: 550px;
  width: 100%;
  background-color: #eee;
}

[mode="blockly"] .blockly-editor {
  left: 0;
}

.maker {
  width: 50%;
  margin: 0 auto;
  left: 500px;
  justify-content: space-between;
  height: 460px;
  width: 200px;
  background-color:  rgb(68, 68, 70);
  /* position: absolute; */
	/* top:500;
	bottom: -500;
	left: 0;
	right: 0;
  	 */
	/* margin: auto; */
}

.maker > div {
  display: flex;
  justify-content: space-between;

}

.image {
  background: transparent;
}
.button {
  background-color: rgb(30, 22, 133);
  border: none;
  color: white;
  border-radius: 8px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(13, 17, 73);
  display: inline-block;
  font-size: 16px;
  margin:0 auto;
  display:block;
  font-weight: 700;
  font-family: inherit;
  position: relative;
  top: 130px;
}
.button:hover {
  border: 2.5px solid;
  background-color: rgb(7, 7, 12); /* Green */
  color:  rgb(47, 36, 194);
  border-color: rgb(47, 36, 194);

  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
  cursor: pointer;

}
.table-title{
  width: 100%;
  height: 20px;
  background-color: rgb(141, 149, 192);
}
.table{
  /* border-spacing: 0.5rem; */
  border: 1px solid black;
  display: flex;
  border-collapse: collapse;
  flex-direction: column;
  width: 80%;
  background-color: rgb(76, 76, 77);
  margin-left:auto; 
  margin-right:auto;
  table-layout: fixed;

  white-space:nowrap;

}
.table th {
  table-layout: auto;
  /* border-left: 1px solid #000; */
  padding: 10px;
  width: auto;
  border-collapse: collapse;
  border-right: 1px solid #000;
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.table th:hover{
  cursor: pointer;
  background-color: rgb(11, 40, 204);
  color : white;
  font-size: larger; 
}
.container {
  height: 50px;
  position: relative;
  /* border: 3px solid black; */
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.create{
  color: white;
  background-color:rgb(15, 15, 15);
  border-radius: 8px;
  border: none;
  border-radius: 8px;
  /* padding: 15px 32px; */
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: 10px;
}
.create:hover{
  background-color:white;
  color: rgb(15, 15, 15);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.mdl-button {
  position: relative;
  top: 38px;
  left:1250px;
  /* margin: 1em 0;
  float: right; */
  color: white;
  background-color:rgb(15, 15, 15);
  border-radius: 8px;
}
.main{
  background-color: rgb(68, 68, 70);
}

.JSbuttons {
  background-color: rgb(118, 121, 131); /* Green */
  border:rgb(44, 45, 46);
  border-width: inherit;
  margin:5px;
  color: black;
  border-radius: 8px;
  /* padding: 15px 32px; */
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  top: 15px;
  /* visibility: hidden; */
}
.JSbuttons:hover {
  background-color: rgb(47, 36, 194); /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.JSbuttons:active {
  background-color: palevioletred(31, 29, 34);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.header {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
}
.div{
  height: 90px;
  width: 100%;
}
.p{
 font-size: larger;
 font-weight: bold;
 position: relative;
 left: 140px;
 top: 45px;
 color: white;
}
.theme{
  float: right;
}
.theme2{
  position: relative;
  top: 0px;
  left: 1120px;
}
.redirect{
  background-color: rgb(118, 121, 131); /* Green */
  border:rgb(44, 45, 46);
  border-width: inherit;
  margin:5px;
  color: black;
  border-radius: 8px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
.redirect:hover{
  background-color: rgb(47, 36, 194); /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}
.redirect-div{
  background-color: rgb(68, 68, 70);
}